<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="open.source.sharedscopecache">

    <application>
        <provider
            android:name=".SharedScopeCache"
            android:authorities="${applicationId}.shared-scope-cache"
            android:grantUriPermissions="true"
            android:exported="false"
            android:multiprocess="false" />
    </application>
</manifest>